@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
@font-face {
    font-family: 'minecraftmedium';
    src: url('minecraft-webfont.woff2') format('woff2'),
         url('minecraft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: black;
    }

h1 {
        color: red;
        font-family: "minecraftmedium";
        font-size: 70px;
    }
h2 {
    color: white;
    font-family: "minecraftmedium";
    font-size: 40px;
    }
h3 {
    color: rgb(43, 255, 0);
    font-family: "minecraftmedium";
    font-size: 40px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    }
h4 {
    color: rgb(75, 75, 75);
    font-family: "minecraftmedium";
    font-size: 30px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    }
p {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}