@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body {
    background-color: black;
    }

h1 {
        color: red;
        font-family:'Silkscreen',cursive;
        font-size: 70px;
    }
h2 {
    color: white;
    font-family:'Silkscreen', cursive;
    font-size:40px;
    }
h3 {
    color: rgb(43, 255, 0);
    font-family:'Silkscreen', cursive ;
    font-size:40px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    }
h4 {
    color: rgb(75, 75, 75);
    font-family:'Silkscreen', cursive;
    font-size:30px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    }
p {
    color: white;
    font-family:'Roboto Mono', monospace;
    font-size:20px;
}